nav{
    background-color: #1f5b25;
}
body{
    background-image: url(../img/homebg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vw;
}
.intro img{
    max-height: 10rem;


}
.navbar img{
    max-height: 2rem;
}
@media screen and (min-width: 599px) {
.intro{
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
}
@media screen and (max-width: 599px) {
    .intro{
        background-color: rgb(0, 0, 0,0.5);
        position: fixed;
        top: 45px;
        left: 20px;
    }
}